// Place all the styles related to the todo_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
strong {
  font-size: 40px;
  color: blue;

}

body {
  background-color: black;
  opacity: .75;
  border: 0 0.5em;
}
